body{
    height: 100vh;
}

#links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    margin: 20px;
    color: green;
    text-decoration: none;
    font-size: 2rem;
    padding: 100px;
    background-color: lightgray;
}